body{
    background-color:  pink!important;
}
.dark-purple{
    background-color: #F5D9E3;
}
.light-purple{
    background-color: pink  !important;
   
}
.light-purple:hover{
    background-color: #D9D6E9  !important;
    color: black !important;
}
.medium-purple{
    background-color: #FFE5EE  !important;
}
.medium-purple:hover{
    background-color: pink !important;
    color: white !important;
}
.border-main{
    border-color: pink !important;
    border-width: 30px !important;
}
input{
    border-color: transparent;
    background-color:pink;
    color: white !important;
    font-size: 20px;
    outline: none;
}
    #input:focus {
        border: none;
        outline: none;
    }

/* input:hover{
    border: hidden !important;
   
} */
.very-light-purple{
    background-color: #EDEEF3 !important;
}
.very-light-purple:hover{
    background-color: #dcdde2 !important;
    
}
.dark-fonts{
    color: #F5D9E3;
}
button{
    width: 60px;
    border: hidden;
    padding: 19px 15px !important;
    border-radius: 90px !important;
    
}

.font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    
}
.zero-btn{
    padding: 20px 70px !important;
    margin-right: 30px !important;
    text-align: left !important;
}